
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 19%;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 20px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

input[type="number"] {
  width: 30%;
  padding: 10px;
  border: 2px solid #CCCCCC;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}
.cta {
    width: 15%;
    padding: 10px;
    background-color:  rgb(209, 109, 209);
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .cta:hover {
    background-color:  rgb(127, 75, 127);
  }