{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="{% static 'css/index_style.css'%}">
    <link rel="stylesheet" href="{% static 'css/account_style.css'%}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
  </head>
  <body>
{% if request.user.is_authenticated %}

    <header>
        {% block header %}

        {% endblock %}
    </header>

    <nav class="navbar">
        {% block navbar %}

        {% endblock %}
    </nav>

    <section class="main">
        {% block main %}
        
        {% endblock %}
    </section>

    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}


{% else %}
    {% include "login.html" %}
{% endif %}
  </body>
</html>