{%load static%}
<link rel="stylesheet" href="{% static 'css/login.css'%}">
<div class="login-wrapper">
    <form class="form" method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <img src="{% static 'img/avatar.png' %}" alt="">
        <h2>Bienvenido</h2>
        <div class="input-group">
            <label for="username" class="sr-only"></label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario" id="loginUser" required autofocus>
        </div>
        <div class="input-group">
            <label for="password" class="sr-only"></label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
        </div>

        <button class="submit-btn" type="submit" class="submit-btn">Iniciar sesion</button>
        <div class="checkbox">
            <label>
                <a class="forgot-pw" href="{% url 'signup' %}">Registrarse</a>
            </label>
        </div>
    </form>
</div>