{% extends 'base.html' %}
{% load static %}


{% block title %}
{% endblock %}


{% block header %}
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block main %}
    <form class="form-signin" method="post" action="{% url 'terrains' %}">
        {% csrf_token %}
        <label for="min_budget" class="min_budget">Enter minimum</label>
        <input type="number" id="min_budget" name="min_budget" class="form-control" placeholder="minimum budget">

        <label for="max_budget" class="max_budget">Enter maximum</label>
        <input type="number" id="max_budget" name="max_budget" class="form-control" placeholder="maximum budget">


        <button class="btn btn-lg btn-primary btn-block" type="submit">Buscar</button><br>
        {% for name in list %}
            <a href="{{ name.link }}">
                <img src="{% static 'img/page_2/' %}{{name.img}}" style="width: 100px; height: 100px;" class="img">
            </a>
            <br>
                {{ name.name }}
            <br>
                ${{ name.price }}
            <br>
        {% endfor %}


{% endblock %}

{% block events %}
{% endblock %}

{% block tours %}

{% endblock %}

{% block explore %}
{% endblock %}

{% block script %}

{% endblock %}
{% block footer %}
    {% include "footer.html" %}
{% endblock %}
