{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock %}


{% block header %}
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/places_style.css'%}">
    <form class="form-signin" method="post" action="{% url 'houses' %}">
        {% csrf_token %}
        <label for="min_budget" class="min_budget">Enter minimum</label>
        <input type="number" id="min_budget" name="min_budget" class="form-control" placeholder="minimum budget">

        <label for="max_budget" class="max_budget">Enter maximum</label>
        <input type="number" id="max_budget" name="max_budget" class="form-control" placeholder="maximum budget">


        <button class="cta" type="submit">Buscar</button><br>
        <div class="container-items">
            {% for name in list %}
                <!-- <a href="{{ name.link }}">
                    <img src="{% static 'img/page_2/' %}{{name.img}}" style="width: 100px; height: 100px;" class="img">
                </a>
                <br>
                    {{ name.name }}
                <br>
                    ${{ name.price }}
                <br> -->
                    <div class="item">
                        <figure>
                            <a href="{{ name.link }}">
                                <img
                                src="{% static 'img/page_3/' %}{{name.img}}"
                                alt="producto"
                                />
                            </a>
                        </figure>
                        <div class="info-product">
                            <h2>{{ name.name }}</h2>
                            <p class="price">${{ name.price }}</p>
                        </div>
                    </div>
            {% endfor %}
            </div>                

{% endblock %}

{% block events %}
{% endblock %}

{% block tours %}

{% endblock %}

{% block explore %}
{% endblock %}

{% block script %}

{% endblock %}
{% block footer %}
    {% include "footer.html" %}
{% endblock %}
