{%load static%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="{% static 'css/signup.css'%}">
    <title>
        {% block title %}
            Inicio
        {% endblock %}
    </title>
{% block content %}
  <form method="POST" class="fReg" action="{% url 'signup' %}">
    <h2 class="regHeader">Registrarse</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="cta">
      <span>Registrarme</span>
      <svg viewBox="0 0 13 10" height="10px" width="15px">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </button>
    <label>
      <a class="navbar-brand" href="{% url 'index' %}">Ya tengo una cuenta</a>
    </label>
{% endblock %}

{% include "footer.html" %}