{%load static%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>
        {% block title %}
            Inicio
        {% endblock %}
    </title>
{% block content %}
  <form method="POST" class="fReg">
    <h2 class="regHeader">Registrarse</h2>
    {% csrf_token %}

    <button href="{% url 'index' %}" type="submit" class="cta">
      <span>Registrarme</span>
      <svg viewBox="0 0 13 10" height="10px" width="15px">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </button>
      <a href="{% url 'index' %}">Home</a>
  </form>
      <label>m
          <a class="navbar-brand" href="{% url 'login' %}">Iniciar sesion</a>
      </label>
{% endblock %}

{% include "footer.html" %}